[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stellar-sdk = "==2.10.0"
numpy = "*"
pandas = "*"
plotly = "*"
matplotlib = "*"
tk = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
